В этом блокноте мы научимся загружать сторонние данные в Python, в DataFrame, а также выполнять некоторые полезные преобразования над загруженными данными: получать выборку согласно условиям, отбирать необходимые признаки, выполнять нормировку.

Сначала выполним задание пункта "Задание для самопроверки 3". Данные для него доступны по [ссылке](https://studio.openedu.ru/assets/courseware/v1/b6cb4ea6a069a5a588596dd9e12de293/asset-v1:ITMOUniversity+DATANTECH2035+cifru_2035+type@asset+block/auto-mpg-quiz.csv).


Для начала подключаем библиотеку pandas и загружаем интересующий нас файл при помощи метода `read_csv(file_name, delimeter, index_col, decimal, usecols, header, ...)`. Подробное описание можно найти по [ссылке](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html).

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('https://studio.openedu.ru/asset-v1:ITMOUniversity+DATANFST2035+cifru_2035+type@asset+block@pulsar_stars_new.csv', 
                       delimiter=',', 
                       decimal='.')

In [3]:
data.head()

,MIP,STDIP,EKIP,SIP,MC,STDC,EKC,SC,TG
0,140.562500,55.683782,-0.234571,-0.699648,3.199833,19.110426,7.975532,74.242225,0
1,102.507812,58.882430,0.465318,-0.515088,1.677258,14.860146,10.576487,127.393580,0
2,103.015625,39.341649,0.323328,1.051164,3.121237,21.744669,7.735822,63.171909,0
3,136.750000,57.178449,-0.068415,-0.636238,3.642977,20.959280,6.896499,53.593661,0
4,88.726562,40.672225,0.600866,1.123492,1.178930,11.468720,14.269573,252.567306,0

Выполним задание. 
Получите выборку из набора данных pulsar_stars на основании следующих критериев:

*   Все строки, где `TARGET(TG) = 0` и `MIP ∈ [96.921875, 97.4140625]`,
*   Все строки, где `TARGET(TG) = 1` и `MIP ∈ [41.8828125, 47.4140625]`.

Логическое выражение выглядит следующим образом:
```
((data.TG == 0) & (data.MIP >= 96.921875) & (data.MIP <= 97.4140625)) | ((data.TG == 1) & (data.MIP >= 41.8828125) & (data.MIP <= 47.4140625))
```

In [4]:
sample_data = data[((data.TG == 0) & (data.MIP >= 96.921875) & (data.MIP <= 97.4140625)) | ((data.TG == 1) & (data.MIP >= 41.8828125) & (data.MIP <= 47.4140625))]

Определим выборочное среднее столбца `MIP`:

In [5]:
sample_data.MIP.mean()

70.79517326732673

Для преобразований данных очень популярна связка apply и lambda.

In [6]:
sample_data = sample_data.apply(lambda x: np.square(x) if x.name in ['STDIP','STDC'] else x < sample_data.MIP.mean() if x.name in ['MIP'] else x)
sample_data.head()

,MIP,STDIP,EKIP,SIP,MC,STDC,EKC,SC,TG
98,False,2282.058350,0.625218,0.740796,4.193144,700.410020,6.927046,49.628527,0
145,True,2087.880799,2.888739,8.810673,176.119565,3568.595236,-1.785377,2.940913,1
346,False,2165.632568,0.558616,0.384429,2.010033,185.896220,10.022346,132.125623,0
358,True,2175.134521,2.841558,7.832819,12.971572,1482.161399,3.799728,14.990834,1
445,False,2084.486084,0.721308,0.482644,1.557692,158.527608,11.434676,169.923103,0

Такая связка также может быть использована для получения масок для фильтрации.

In [10]:
sample_data[sample_data.apply(lambda x: x['STDIP'] > x['STDC'], axis=1)].head()

,MIP,STDIP,EKIP,SIP,MC,STDC,EKC,SC,TG
98,False,2282.058350,0.625218,0.740796,4.193144,700.410020,6.927046,49.628527,0
346,False,2165.632568,0.558616,0.384429,2.010033,185.896220,10.022346,132.125623,0
358,True,2175.134521,2.841558,7.832819,12.971572,1482.161399,3.799728,14.990834,1
445,False,2084.486084,0.721308,0.482644,1.557692,158.527608,11.434676,169.923103,0
561,False,2234.839843,0.278467,0.435717,0.553512,91.897638,20.636758,475.962135,0

In [11]:
sample_data.loc[sample_data.apply(lambda x: x['STDIP'] > x['STDC'], axis=1)].head()

,MIP,STDIP,EKIP,SIP,MC,STDC,EKC,SC,TG
98,False,2282.058350,0.625218,0.740796,4.193144,700.410020,6.927046,49.628527,0
346,False,2165.632568,0.558616,0.384429,2.010033,185.896220,10.022346,132.125623,0
358,True,2175.134521,2.841558,7.832819,12.971572,1482.161399,3.799728,14.990834,1
445,False,2084.486084,0.721308,0.482644,1.557692,158.527608,11.434676,169.923103,0
561,False,2234.839843,0.278467,0.435717,0.553512,91.897638,20.636758,475.962135,0

In [15]:
data.loc[data.apply(lambda x: x['STDIP'] > x['STDC'] if x['MIP'] > data.MIP.mean() else x['MIP'] > x['MC'], axis=1)].head()

,MIP,STDIP,EKIP,SIP,MC,STDC,EKC,SC,TG
0,140.562500,55.683782,-0.234571,-0.699648,3.199833,19.110426,7.975532,74.242225,0
1,102.507812,58.882430,0.465318,-0.515088,1.677258,14.860146,10.576487,127.393580,0
2,103.015625,39.341649,0.323328,1.051164,3.121237,21.744669,7.735822,63.171909,0
3,136.750000,57.178449,-0.068415,-0.636238,3.642977,20.959280,6.896499,53.593661,0
4,88.726562,40.672225,0.600866,1.123492,1.178930,11.468720,14.269573,252.567306,0

In [17]:
data[((data['STDIP'] > data['STDC']) & (data['MIP'] > data.MIP.mean())) | ((data['MIP'] <= data.MIP.mean()) & (data['MIP'] > data['MC']))].head()

,MIP,STDIP,EKIP,SIP,MC,STDC,EKC,SC,TG
0,140.562500,55.683782,-0.234571,-0.699648,3.199833,19.110426,7.975532,74.242225,0
1,102.507812,58.882430,0.465318,-0.515088,1.677258,14.860146,10.576487,127.393580,0
2,103.015625,39.341649,0.323328,1.051164,3.121237,21.744669,7.735822,63.171909,0
3,136.750000,57.178449,-0.068415,-0.636238,3.642977,20.959280,6.896499,53.593661,0
4,88.726562,40.672225,0.600866,1.123492,1.178930,11.468720,14.269573,252.567306,0

Выбор между таким способом и логическими выражениями для масок зависит от удобства, привычки, лаконичности и сложности формулы. Lambda хорошо подходит для нетривиальных формул в одну-две строчки. Если функция крупнее, её необходимо переиспользовать или работа ведёется со сложными типами данных и необходимо правильно обрабатывать исключения, то вместо логических выражений лучше подходит определить полноценную функцию.