В этом блокноте мы научимся производить нормировку данных и строить целевую функцию

Для начала подключаем библиотеку pandas и загружаем интересующий нас файл при помощи метода `read_csv(file_name, delimeter, index_col, decimal, usecols, header, ...)`. Подробное описание можно найти по [ссылке](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html).

In [1]:
!gdown 1UIQdi1Z7L-ENk4W53LMC2J59zene9M9N

Downloading...
From: https://drive.google.com/uc?id=1UIQdi1Z7L-ENk4W53LMC2J59zene9M9N
To: /content/task4_720376.csv
100% 2.90k/2.90k [00:00<00:00, 4.91MB/s]

In [2]:
import pandas as pd

**Используйте файл с данными из своего варианта задания!!!**

In [3]:
data = pd.read_csv('/content/task4_720376.csv', 
                       delimiter=',', 
                       decimal='.', index_col = 'ID')

Посмотрим на наши данные

In [4]:
data

     DISTANCE  STOP_COUNT   COST
ID
1          24           3  13.72
2          25          11  26.38
3          27          12  13.42
4          25           7  21.43
5           4           4  13.54
..        ...         ...    ...
196         6           9  16.35
197        13           3  26.79
198         6           7  15.70
199         4          12  25.09
200        29           5  25.91

[200 rows x 3 columns]

Теперь выполним экспоненциальную нормировку:
$$
\widetilde x_i = 1 - e^{1 - \frac{x_i}{x_{min}}}
$$

Подключим библиотеку для вычисления экспоненты

In [5]:
import numpy as np

Проведем экспоненциальную нормировку и выведем данные

In [6]:
data = 1 - np.exp(1 - data/data.min())
data

     DISTANCE  STOP_COUNT      COST
ID
1    0.999088    0.864665  0.303098
2    0.999347    0.999955  0.801519
3    0.999665    0.999983  0.282046
4    0.999347    0.997521  0.675669
5    0.283469    0.950213  0.290542
..        ...         ...       ...
196  0.632121    0.999665  0.463143
197  0.964326    0.864665  0.809430
198  0.632121    0.997521  0.427384
199  0.283469    0.999983  0.774422
200  0.999828    0.981684  0.792046

[200 rows x 3 columns]

Вычислим значение целевой функции и отсортируем результат:

In [7]:
data['SUM'] = data['DISTANCE'] + data['STOP_COUNT'] + data['COST']
data.sort_values(by = ['SUM'], ascending = True)

     DISTANCE  STOP_COUNT      COST       SUM
ID
103  0.000000    0.000000  0.392867  0.392867
161  0.486583    0.000000  0.181594  0.668177
169  0.996541    0.000000  0.026430  1.022971
131  0.864665    0.000000  0.198468  1.063133
69   0.986876    0.000000  0.097135  1.084012
..        ...         ...       ...       ...
46   0.997521    0.999088  0.850846  2.847456
15   0.990596    0.999955  0.857075  2.847626
43   0.999828    0.999088  0.853341  2.852257
141  0.998224    0.999877  0.857075  2.855176
185  0.996541    0.997521  0.861266  2.855328

[200 rows x 4 columns]

In [8]:
data.sort_values(by = ['SUM'], ascending = True).iloc[0:3]

     DISTANCE  STOP_COUNT      COST       SUM
ID
103  0.000000         0.0  0.392867  0.392867
161  0.486583         0.0  0.181594  0.668177
169  0.996541         0.0  0.026430  1.022971

In [9]:
data['SUM_AUTO'] = np.sum(data.iloc[:,0:3], axis=1)
data

     DISTANCE  STOP_COUNT      COST       SUM  SUM_AUTO
ID
1    0.999088    0.864665  0.303098  2.166851  2.166851
2    0.999347    0.999955  0.801519  2.800821  2.800821
3    0.999665    0.999983  0.282046  2.281693  2.281693
4    0.999347    0.997521  0.675669  2.672537  2.672537
5    0.283469    0.950213  0.290542  1.524224  1.524224
..        ...         ...       ...       ...       ...
196  0.632121    0.999665  0.463143  2.094928  2.094928
197  0.964326    0.864665  0.809430  2.638421  2.638421
198  0.632121    0.997521  0.427384  2.057026  2.057026
199  0.283469    0.999983  0.774422  2.057874  2.057874
200  0.999828    0.981684  0.792046  2.773558  2.773558

[200 rows x 5 columns]